/* цвет основного текста  #212121;
*/
/* вторичный цвет текста * #757575/
/* белый # #ffffff */
/* акцент 2196F3 */
  :root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
  }

  /* body-list*/

body {
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  background-color: var(--main-bg-color);
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* top line bg */

ul {
list-style: none;
padding: 0px;
margin: 0;
}

a {
text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  background-color: var(--main-bg-color);
  display:flex;
  align-items: center;
  height: 80px;
 }


.logo {
  font-family: Raleway;
  text-decoration: none;
  font-size: 30px;
  color: var(--main-text-color);
  margin-right: 15px;
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.inform {
  display: flex;
  margin-left: auto;
  font-size: 16px;
}

.inform .item:not(:last-child) {
  margin-right: 50px;
}

.continer-head {
  display: flex;
  align-items: center;
}


.link-current {
  color:var(--accent-color);
}

.site-nav-link {
  color: var(--main-text-color);
}

.site-nav-link:hover {
  color: var(--accent-color);
}

.inform-link {
  color: var( --secondary-text-color);
}

.inform-link:hover {
  color: var(--accent-color);
}

/* main section*/

.content {
  text-align: center;
}

.main-section {
  background-color: var(--footer-bg-color);
}

.section-name {
  font-weight: 900;
  font-size: 44px;
  line-height:1.36;
  color: var(--main-bg-color);
}

button {
  background: var(--accent-color);
  color: var(--main-bg-color);
  cursor: pointer;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features .item:not(:last-child) {
    margin-right: 30px;
} 
   
  
.section-title {
  line-height:1.14;
  letter-spacing: 0.03em;
  color:var(--main-text-color);
}

.section-small {
  color: var(--secondary-text-color);
}

  /*section 2*/

.example {
    display: flex;
    justify-content: space-between;

}
  

.section-progect {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}
.section-team {
  background-color: var(--secondary-bg-color);
}

.section-footer {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-color);
}

.section-roll {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.section-indent {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
}

  /*footer*/

.section-team-list {
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  color: var(--accent-color);
  margin-left: 30px;
  
}

.footer-logo {
  color: #ffffff;
 
}

.footer-list {
  background-color: var(--footer-bg-color);
}

.address-footer {
  color: var(--main-bg-color);
  font-style: normal;
}

.address-contact {
  color: var(--secondary-text-color);
  font-style: normal;
}

  /**portfolio**/

.section {
    padding: 94px, 0px;
}

.section-descrip {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-text-color);
}

.section-apps {
  font-size: 16px;
  line-height: 1.8;
  color: var(--secondary-text-color);
}

.buttoms {
  display: flex;
  justify-content: center;
}

.buttoms .item{
  height: 73;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

.container-page {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;

}
.holder > .item{
  margin-right: 30px;
  margin-bottom: 30px;
  justify-content:center
}

.holder {
  display:flex;
  flex-wrap: wrap;
  flex-basis: calc(100% /3-30px);
}

.holder div {
  border:1px solid #EEEEEE;
  justify-content:space-between;
}
